<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs', { headTitle : "Note" }) %>

  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: gray;
    }
    body * {
      /* opacity: 0; */
      background-color: gray;
      border: 1px solid darkgray;
      outline: 1px solid darkgray;
    }
  </style>

  <body>
    <form action="/" method="POST">
      <input type="text" name="title" id="title" />
      <textarea name="note"></textarea>
      <button type="submit">save</button>
    </form>
  </body>
  <script>
    document.getElementById('title').focus()
  </script>
</html>
