<div id="toaster" class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <div class="nature rounded me-2 p-2"></div>
      <strong class="me-auto title text-capitalize">Title</strong>
      <small class="point">Point</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Message</div>
  </div>
</div>

<%- include('./script') %>